<div class="expandablecode-section">
  {{ if .Get "level" }}
    <h{{ .Get "level" }}>
  {{ end }}
    <button aria-expanded="{{ with .Get "open" }}true{{ else }}false{{ end }}" data-expands="js-expandable-{{ .Inner | md5 }}">
      <span class="expandable-label">{{ .Get "label" | default "More info" }}</span>
      <svg aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
        <g transform="translate(0 -981.5)">
          <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
          <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
        </g>
      </svg>
    </button>
  {{ if .Get "level" }}
    </h{{ .Get "level"}}>
  {{ end }}
  <div id="js-expandable-{{ .Inner | md5 }}" {{ with .Get "open" | not }}hidden{{ end }}>
    <pre role="region" aria-label="code sample" tabindex="0">
      <code>{{ .Inner }}
      </code>
    </pre>
  </div>
</div>
